<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Wishing App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
  <div style="display:flex; justify-content: space-between;">
    <h2>Hello {{user.first_name}}! Make a wish!</h2>
    <a style="float:right; margin-top: 10px;" href="/logout">Logout</a>
  </div>
  <div>
    <br />
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li style="color:red">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <form action="/createwish" method="POST">
    <div class="box">
      {% csrf_token %}
      <div style="display:block;">
        <label>I wish for:</label>
        <textarea name="wish" placeholder="Wish"></textarea>
      </div>
      <div style="display:block;">
        <label>Description:</label>
        <textarea name="description" placeholder="Description"></textarea>
      </div>
      <div style="display:block;">
        <a class="button" href="/wishes">Cancel</a>
        <input type="submit" name="submit" value="Submit">
      </div>
    </div>
  </form>

</body>

</html>